.bookdetails{
    z-index: 101;
    position: fixed;
    top: 5rem;
    background-color: white;
    border-radius: 20px;
    width: 380px;
    height: 500px;
    box-shadow: 0 0 20px 8px #d0d0d0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
	border: 2px solid #c0c0c0;
}

.form_header{
    display: flex;
    flex: 0.1;
    /* border: 1px solid peru; */
}

.close_icon{
    position: absolute;
    right: 0;
}

.close_icon > svg{
    width: 35px;
    height: 37px;
    cursor: pointer;
    color: #d0d0d0;
}

.close_icon > svg :hover{
	color: black;
}


/* COMPLETE FORM CSS CODE  */



 .card-form {
	 padding: 2rem 1rem 0;
}
 .input {
	 display: flex;
	 flex-direction: column-reverse;
	 position: relative;
	 padding-top: 1.5rem;
}
 .input + .input {
	 margin-top: 1.5rem;
}
 .input-label {
	 color: #8597a3;
	 position: absolute;
	 top: 1.5rem;
	 transition: 0.25s ease;
}
 .input-field {
	 border: 0;
	 z-index: 1;
	 background-color: transparent;
	 border-bottom: 2px solid #eee;
	 font: inherit;
	 font-size: 1.125rem;
	 padding: 0.25rem 0;
}
 .input-field:focus, .input-field:valid {
	 outline: 0;
	 border-bottom-color: #6658d3;
}
 .input-field:focus + .input-label, .input-field:valid + .input-label {
	 color: #6658d3;
	 transform: translateY(-1.5rem);
}
 .action {
	 margin-top: 2rem;
}
 .action-button {
  display: flex;
  align-items: center;
  justify-content: center;
	 font: inherit;
	 font-size: 1.25rem;
	 padding: 1em;
	 width: 100%;
	 font-weight: 500;
	 background-color: #6658d3;
	 border-radius: 6px;
	 color: #fff;
	 border: 0;
}
 .action-button:focus {
	 outline: 0;
}
 .card-info {
	 padding: 1rem 1rem;
	 text-align: center;
	 font-size: 0.875rem;
	 color: #8597a3;
}
 .card-info a {
	 display: block;
	 color: #6658d3;
	 text-decoration: none;
}
 